ULV { color: #555; }
LV { color: #AAA; }
MV { color: #5FF; }
HV { color: #FFAA00; }
EV { color: #A0A; }
IV { color: #55F; }
LuV { color: #F5F; }
ZPM { color: #F55; }
UV { color: #00AAAA; }
UHV { color: #A00; }
UEV { color: #5F5; }
UIV { color: #0A0; }
.md-content a[href$="Sulfuric Acid"] { color: #d5600a} 
.md-content a[href$="Nitric Acid"] { color: #a9a90f} 
.md-content a[href$="Titanium Tetrachloride"] { color: #9db3b3} 